<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="EntityFramework.zh-Hans" version="6.0.0" targetFramework="net45" />
  <package id="GemBox.Document" version="23.3.30.1186" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Windows" version="11.0.3452" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="11.0.2" targetFramework="net45" />
  <package id="RDLCPrinter" version="1.2.0" targetFramework="net45" />
</packages>